<div class="card">
        <div class="card-body">
          <form [formGroup]="gst_editForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">User Name</label>
              <input type="text" class="form-control" formControlName="user_name" #user_name [(ngModel)] = "user.user_name" />
            </div>
            <div *ngIf="gst_editForm.controls['person_name'].invalid && (gst_editForm.controls['person_name'].dirty || gst_editForm.controls['person_name'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['person_name'].errors.required">
                User Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">Email</label>
              <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "user.email" />
            </div>
            <div *ngIf="gst_editForm.controls['email'].invalid && (gst_editForm.controls['email'].dirty || gst_editForm.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['email'].errors.required">
                Email is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">cell_no </label>
              <input type="text" class="form-control" formControlName="cell_no" #cell_no [(ngModel)] = "user.cell_no" />
            </div>
            <div *ngIf="gst_editForm.controls['cell_no'].invalid && (gst_editForm.controls['cell_no'].dirty || gst_editForm.controls['cell_no'].touched)" class="alert alert-danger">
              <div *ngIf="gst_editForm.controls['cell_no'].errors.required">
                Cell No is required.
              </div>
            </div>
            <div class="form-group">
              <button  type="button" (click)="updateUser(person_name.value, business_name.value, business_gst_number.value)"
              [disabled]="gst_editForm.invalid" 
              class="btn btn-primary">Update User</button>
            </div>
          </form>
        </div>
      </div>