<input class="form-control" type="text" name="search" placeholder="Search" [(ngModel)]="filter">      
      
    <br>


<table class="table table-bordered">
    <thead style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:rgb(81, 81, 207)">
       <tr>
         <td> User Name </td>
         <td> Email</td>
         <td> Cell No </td>
         <td>Edit</td>
         <td> Delete</td>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users  | filter:filter">
        <td>{{user.user_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.cell_no}}</td>
        <td><a [routerLink]="['/user/edit',user._id]"  class="btn btn-primary"><i class="far fa-edit"></i></a></td>
        <td><a (click) = "deleteUser(user._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <button routerLink="/user/create" class="btn btn-primary"><i class="fas fa-plus"></i>Add new</button> &nbsp;
  <button (click)="refresh()" class="btn btn-secondary"><i class="fas fa-sync-alt"></i></button>