
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="user/create" class="nav-link" routerLinkActive="active"> Create User</a>
      </li>
      <li class="nav-item">
        <a routerLink="user" class="nav-link" routerLinkActive="active"> User </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>