<div class="card">
  <div class="card-body">
    <form [formGroup]="gst_addForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">User Name</label>
        <input type="text" class="form-control" formControlName="user_name" #user_name />
      </div>

      <div *ngIf="gst_addForm.controls['user_name'].invalid && (gst_addForm.controls['user_name'].dirty || gst_addForm.controls['user_name'].touched)"
        class="alert alert-danger">
        <div *ngIf="gst_addForm.controls['user_name'].errors.required">
          Please Enter the name
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Eamil </label>
        <input type="email" class="form-control" formControlName="email" #email />
      </div>

      <div *ngIf="gst_addForm.controls['email'].invalid && (gst_addForm.controls['email'].dirty || gst_addForm.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="gst_addForm.controls['email'].errors.required">
          Please enter the Email
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Cell No</label>
        <input type="tel" class="form-control" formControlName="cell_no" 
          #cell_no />
      </div>

      <div *ngIf="gst_addForm.controls['cell_no'].invalid && (gst_addForm.controls['cell_no'].dirty || gst_addForm.controls['cell_no'].touched)"
        class="alert alert-danger">
        <div *ngIf="gst_addForm.controls['cell_no'].errors.required">
          Please enter the cell_no
        </div>
    
      </div>

      <div class="form-group">
        <button class="btn btn-primary" (click)="addUser(user_name.value, email.value , cell_no.value)" [disabled]="!gst_addForm.valid || gst_addForm.pristine">Add User</button>
      
      </div>
    </form>
  </div>
</div>

<p  *ngIf="dataadded" class="alert alert-success">{{ msg }}</p>